body {
    color: #212121;
    min-width: 600px;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.version {
    font-weight: lighter;
}

table {
    font-size: 1rem;
}

.checkbox-purple[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #9c27b0;
    background-color: #9c27b0;
}

label {
    color: #212121;
}